
html, body {
	height: 100%;
	margin: 0px;
	font-family: "Helvetica Neue", Arial, sans-serif;
}

.navbar {
	background-color: #034D7C;
}

.navbar a {
	border-bottom: none;
}

.navbar > ul {
    list-style-type: none;
    margin: 0px;
    overflow: hidden;
    text-align: center;
}

.navbar > ul > li {
    float: left;
}

.navbar-home {
	font-size: 18px;
	text-decoration: none;
	padding: 15px;
	color: #FFF;
	display: block;
    width: 100px;
    text-align: left;
}

.navbar-nav {
	font-size: 18px;
	text-decoration: none;
	padding: 15px;
	color: #FFF;
	display: block;
    width: 100px;
}

.navbar-now {
	font-size: 18px;
	text-decoration: none;
	padding: 15px;
	color: #034D7C;
	display: block;
    width: 100px;
    background-color: #9AB8CB;
}

.container {
	max-width: 1000px;
	margin: 0 auto;
}

.main {
	width: 60%;
	padding-left: 4%;
	padding-right: 4%;
	font-size: 16px;
	float: left;
}

.main > ul > li {
	margin: 4%;
	font-size: 14px;
}

a {
	text-decoration: none;
	color: #034D7C;
	border-bottom: 1px dotted;
}

mk {
	border-radius: 100%;
	background: #9AB8CB;
	min-width: 15px;
	height: 15px;
	font-size: 14px;
	box-sizing: border-box;
	display: inline-block;
	padding-left: 0.4em;
}

.me {
	width: 32%;
	float: left;
}

.footer {
	clear: both;
	padding-top: 75px;
	padding-bottom: 5px;
	font-size: 14px;
	color: #AAA;
	text-align: center;
}

.tooltip:hover {
	background: #FFF;
	text-decoration: none;
}

mk.tooltip:hover {
	background: #9AB8CB;
}

.tooltip span {
	display: none;
	max-width: 450px;
	padding: 7px;
	margin-left: 10px;
	border-radius: 7px 14px;
}

.tooltip:hover span{
	display: inline;
	position: absolute;
	background: #9AB8CB;
	color: #034D7C;
}
